<div class="container-fluid">
    <div class="row">
    
      <div class="col-sm-4 clickables">
        <a [routerLink]="['product','jeans']">
        <div class="card bg-light text-dark">
          <img class="card-img center" src="https://cdn.vox-cdn.com/thumbor/QgEMwYKlcK9fSFsZD2FIe9SouxM=/0x0:4915x3930/1200x800/filters:focal(1719x1156:2505x1942)/cdn.vox-cdn.com/uploads/chorus_image/image/61753005/clothingrack.0.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h3 class="card-title text-center bg-dark text-white">jeans</h3>
           
            
          </div>
        </div>
      </a>
      </div>
      <div class="col-sm-4 clickables">
        <a [routerLink]="['product','beauty']">
        <div class="card bg-light text-dark">
          <img class="card-img im" src="https://i.guim.co.uk/img/media/8dd53de9f75eec05f73f5b2baee3a43b67c40baf/0_0_5000_3000/master/5000.jpg?width=465&quality=45&auto=format&fit=max&dpr=2&s=5822b4385001d684e5d6133c72aced15" alt="Card image">
          <div class="card-img-overlay">
            <h3 class="card-title text-center bg-dark text-white">beauty products </h3>
            
            
          </div>
        </div>
      </a>
      </div>
      <div class="col-sm-4 clickables">
        <a [routerLink]="['product','oils']">
        <div class="card bg-light text-dark">
          <img class="card-img center" src="https://content.hy-vee.com/remote.axd/3f4c2184e060ce99111b-f8c0985c8cb63a71df5cb7fd729edcab.ssl.cf2.rackcdn.com/media/18025/cookingoils-hero.jpg?v=1&mode=crop&width=800&height=640&upscale=false" alt="Card image">
          <div class="card-img-overlay">
            <h3 class="card-title text-center bg-dark text-white">cooking oils</h3>
          
            
          </div>
        </div>
      </a>
      </div>
     
      
     
  
    
    </div>
   </div>